nav {
    font-family: 'Work Sans', sans-serif;
}

.navbar-brand {
    font-weight: 900;
}

li {
    margin-left: 50px;
    height: 40px;
}

.background {
    background-image: url(../img/background.webp);
}

li:hover {
    border-bottom: 2px solid yellow;
    cursor: grab;
}

.nav-item a.nav-link:hover {
    color: yellow;
}

.nav-item a.nav-link {
    color: white;
}

.bi-cart3:hover,
.bi-search:hover {
    color: yellow;
}
h3 {
    font-family: 'Kalam', cursive;
    font-size: 40px;
    padding-top: 80px;
}
h1 {
    font-size: 60px;
    letter-spacing: 4px;
    font-weight: bold;
    color: white;
}
.border {
    border-bottom: 3px solid white;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}
.learn {
    border-radius: 0%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
}
.learner {
    padding-bottom: 70px;
}
.text1 {
    margin-top: 70px;
    font-family: 'Kalam', cursive;;
}
.headers {
    margin-top: -15px;
}
.border1 {
    border-bottom: 3px solid rgb(255, 0, 0);
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}
.img1 {
    width: 100%;
}
.img-a {
    margin-top: 20px;
}