nav {
    font-family: 'Work Sans', sans-serif;
}

.navbar-brand {
    font-weight: 900;
}

li {
    margin-left: 50px;
    height: 40px;
    transition: opacity 1s;
}

.background {
    background-image: url(../img/background.webp);
}

li:hover {
    border-bottom: 2px solid yellow;
    cursor: grab;
}

.nav-item a.nav-link:hover {
    color: yellow;
}

.nav-item a.nav-link {
    color: white;
}

.bi-cart3:hover,
.bi-search:hover {
    color: yellow;
}

h3 {
    font-family: 'Kalam', cursive;
    font-size: 40px;
    padding-top: 80px;
}

h1 {
    font-size: 60px;
    letter-spacing: 4px;
    font-weight: bold;
    color: white;
}

.border {
    border-bottom: 3px solid white;
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}

.learn {
    border-radius: 0%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
}

.learner {
    padding-bottom: 70px;
}

.text1 {
    margin-top: 70px;
    font-family: 'Kalam', cursive;
    ;
}

.headers {
    margin-top: -15px;
}

.border1 {
    border-bottom: 3px solid rgb(255, 0, 0);
    width: 70px;
    margin-left: auto;
    margin-right: auto;
}

.img1 {
    width: 100%;
    z-index: 0;
}

.img-a {
    margin-top: 20px;
}

.r1 {
    padding-left: 12px;
    padding-right: 12px;
}

td {
    height: 120px;
    width: 20%;
    border-left: 1px solid rgb(255, 255, 255);
    border-right: 1px solid rgb(255, 255, 255);
    text-align: center;
}

.cont {
    background-color: rgb(95, 189, 158);
    margin-top: 70px;
}

.span1 {
    font-size: 12px;
}

@media (max-width: 576px) {
    .contain {
        padding-left: 0;
        padding-right: 0;
    }
}

.img-a {
    height: 300px;
}

.img2 {
    width: 100%;
    height: 0px;
    background: linear-gradient(rgba(233, 118, 3, 0.7), rgba(255, 255, 0, 0.7));
    display: block;
    position: relative;
    z-index: 1;
    transition: all;
    transition-duration: 1s;
    top: -300px;
    justify-content: center;
    align-items: center;
}

.img-a:hover>.img2 {
    height: 300px;
}

.overlay {
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.content {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    color: #fff;
    font-size: 25px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
}

.img2:hover .overlay {
    opacity: 1;
}
.bi-alarm {
    margin-top: 20px;
}
.r2-b .col-12 {
    padding-top: 40px;
}
.r3 {
    border-bottom: 2px solid gray;
    padding-bottom: 40px;
}
.r1-a .col-12 {
    padding-top: 40px;
}